.card-container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding-bottom: 5rem;
}

.card {
  width: 200px;
  height: 200px;
  background: #1a1919;
  padding: 1.2rem 1rem;
  border: 1px solid orange;
  border-radius: 10px;
}

.card-container img {
  width: 100%;
}

.card h2 {
  font-size: 18px;
  margin-bottom: 8px;
}

.card h3 {
  font-size: 14px;
  color: #555;
}
