.card {
  border: 1px solid white;
  margin: 5%;
  border-radius: 2rem;
  width: 400px;
  display: grid;
}

.imgBackground {
  width: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
}