.aboutHeader {
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 20px;
}

.aboutContent {
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 20px;
    margin-left: 115px;
    width: 90%;
}   

.me1 {
    width: 15%;
    margin-top: 20px;
    border-radius: 10rem;
    border: 2px solid orange;
}

.me {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonAbout {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    margin-right: 80px;
}